/* --- (MOBILE FIRST APPROACH) --- */
* {
    box-sizing: border-box;
    margin: 0;
}

html,body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* font-family: 'Inter', 'Segoe UI', 'Arial', 'Helvetica', sans-serif; */
    line-height: 1.5; /*god standard for læsbarhed */
    display: flex;
    flex-direction: column;
}


h1 { font-size: 2rem; font-weight: bold; color: #222; padding-bottom: 1em;}
h2 { font-size: 1.5rem; font-weight: 600; color: #333; padding-bottom: 1em;}
h3 { font-size: 1.2rem; font-weight: 600; color: #f8f3f3; }
h4 { font-size: 1rem; font-weight: 600; color: #555; }

img { max-width: 100%; height: auto; }

/* --- HEADER --- */
header {
    background-color: #10370c;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
 
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
 
}


/* Navigation – skjules på mobil som standard */
header nav { display: none; }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a.active {
  border-bottom: 3px solid #eef1f2; /* farven på stregen */
  padding-bottom: 4px;              /* lidt luft mellem tekst og streg */
  font-weight: 600;                 /* gør teksten lidt tydeligere */
  color: #eef1f2;                   /* samme farve som stregen for konsistens */
}


nav li {
    padding: 0.8em;
    text-align: center;
}

nav li a {
    color: #fbfbfb;
    text-decoration: none;
    font-size: 18px;
}

/* Burgermenu-knap */
button#bars {
    background: transparent;
    border: none;
    font-size: 1.5em;
    color: white; /* gør bars hvide */
}

/* Når burgermenuen er aktiv */
.show {
    display: block;
    position: absolute;
    top: 49px;
    left: 0;
    background-color: rgb(220, 240, 214);
    width: 100%;
}

 /* Når burgermenuen er åben, Det aktive link bliver tydeligt når man hover */
header nav.show li a:hover { 
 color:rgb(14, 31, 1); /*farven du vil have ved hover */
 font-weight: bold;     /* gør teksten fed ved hover */ 
}

nav a:focus-visible {
  outline: 3px solid #90ee90;
}
 
/* --- MAIN INDHOLD --- */
main {
    flex: 1;   /* udfylder alt ledigt rum og skubber footeren ned */
    margin: 2em 2em;
}

main section p {

line-height: 20px;

}

.style_img {

        margin-top: 20px;
}

section {
    margin-bottom: 2em;
}

hr {
    border: none;
    height: 3px;
    background-color: #1032a4;
    margin: 2em 0;
    border-radius: 5px;
}

.bg-gul {
    background-color: rgb(237, 239, 229);
    padding: 2em;
}

.bg-grå {
    background-color: rgb(192, 215, 201);
    padding: 2em;

}

.bg-blå {
    background-color: rgb(141, 171, 139);
    padding: 2em;
    margin-bottom: 1em;
}



/* FOOTER */
footer {
    background-color: #10370c;
    color: white;
    text-align: center;
    padding: 2em 1em;
}

footer h3 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

footer p,
footer li {
    margin-bottom: 0.4em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: orange;
}

/*Mental ro elementer*/
 video {
    width: 100%;   /* fylder hele skærmbredden */
    height: auto;  /* bevarer proportioner */
    max-width: 640px; /* valgfrit, så den ikke bliver for stor på desktop */
    border-radius: 8px; /* valgfrit, ser moderne ud */
}




/* Kontakt-knap */

.a{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 233, 213);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.kontakt_container{

    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #e8efe2;
    font-size: 14pt;
    color: #10370c;
    border-radius: 10px;
    margin-top: 10px;


}

.kontakt_container label{

    margin-left: 10px;
}


/* style tekst box i formular */
.txt_style{
 
    background-color: #e8efe2; 
    border: 2px solid  #10370c; 
    height: 35px;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 7px;
    margin-left: 10px;

   
}


/* besked box */
.ar_style {

    background-color:#e8efe2; 
    border: 2px solid  #10370c; 
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

   

}

fieldset {
    border: 2px solid #10370c;   /* ændrer farven */
    border-radius: 10px;         /* mere bløde hjørner */
    padding: 10px 15px;          /* lidt luft indeni */
    background-color: #e8efe2;   /* valgfrit: giver baggrund */
    margin-left: 10px;
    margin-right: 10px;
}

.style_buttom{

    background-color: #10370c;
    color: white;
    margin-top: 20px;
    height: 30px;
    width: 40%;
    margin-left: 150px;
    margin-bottom: 50px;
    /* text-decoration: double; */

}

.kontakt_container button:hover {

    color:#e8efe2;
    background-color: blue;


}

/* --- DESKTOP  --- */
@media screen and (min-width: 769px) {
    #bars{ display: none; }

    header nav { display: block; }

    nav ul {
        display: flex;
        justify-content: space-around;
        gap: 2em;
    }

    .show {
        position: static;
        background: none;
        display: block;
    }

    /* Sektion 1 layout flex */
    main section:nth-of-type(1) {
        display: flex;
        gap: 2em;
    }

    main section p{

        line-height: 40px;
    }

    main section:nth-of-type(1) div {
    width: 50%;  
}

    main section:nth-of-type(1) img {
    width: 50%; /* fylder hele div’en */
    height: auto;
}

    main section:nth-child(3) { padding-bottom: 0; }
    
    /* Specifik margin for MentalRo */
    body.MentalRo main {
    margin: 1em 5em 2em 3em; /* top, højre, bund, venstre */
}



.style_vd{
    height: 200px;
    width: 100%;
}

.kontakt_container {
        margin: 40px;   /* giver hvid luft højre og venstre */
        padding: 20px;
    }

    .txt_style,
    .ar_style,
    .style_buttom {
        width: 100%;
        margin-left: 0;
    }

    fieldset div {
        display: flex;
        align-items: center;
        gap: 8px;
    }


    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: left;
        padding: 3em 4em;
    }

    .footer-left,
    .footer-right { width: 45%; }


    

}
