/* --- (MOBILE FIRST APPROACH) --- */
* {
    box-sizing: border-box;
    margin: 0;
}

html,body{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* font-family: 'Inter', 'Segoe UI', 'Arial', 'Helvetica', sans-serif; */
    line-height: 1.5; /*god standard for læsbarhed */
    display: flex;
    flex-direction: column;
}


h1 { font-size: 2rem; font-weight: bold; color: #222; padding-bottom: 1em;}
h2 { font-size: 1.5rem; font-weight: 600; color: #333; padding-bottom: 1em;}
h3 { font-size: 1.2rem; font-weight: 600; color: #333; }
h4 { font-size: 1rem; font-weight: 600; color: #faf9f9; }

img { max-width: 100%; height: auto; }

/* --- Header layout --- */
header {
    background-color: #10370c;
    padding: 0.5em 1em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.2em;
 
}


/* Logo + brand nav container */
.logo-container {
    display: flex;
    align-items: left;
    text-decoration: none; /* fjerner underline hvis link */
    gap: 0.2em;
    margin-top: 0.5em; /* skubber hele logo + brand lidt ned */
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}


.brand-name {
    /* margin: 0;          fjerner H1's default spacing */
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 0;
    color: #f7f4f4;
    margin-top: 0.5em;
}


.logo {
    height: 50px;
    width: 50px;
    border: 2.5px solid white; /* hvid kant, 2px tykkelse */
 
}


/* Navigation – skjules på mobil som standard */
header nav { display: none; }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a.active {
  border-bottom: 3px solid #eef1f2; /* farven på stregen */
  padding-bottom: 4px;              /* lidt luft mellem tekst og streg */
  font-weight: 600;                 /* gør teksten lidt tydeligere */
  color: #eef1f2;                   /* samme farve som stregen for konsistens */
}


nav li {
    padding: 0.8em;
    text-align: center;
}

nav li a {
    color: #fbfbfb;
    text-decoration: none;
    font-size: 18px;
}

/* Burgermenu-knap */
button#bars {
    background: transparent;
    border: none;
    font-size: 2.5em;  /* større ikon */
    color: white; /* gør bars hvide */
    height: 40px;        /* eller 45–50px alt efter ikonstørrelse */
    padding: 0;          /* så den ikke skubber sig selv op */
}

/* Når burgermenuen er aktiv */
.show {
    display: block;
    position: absolute;
    top: 49px;
    left: 0;
    background-color: #10370c;
    width: 100%;
    text-decoration: #f1f3f1;
    
}

 /* Når burgermenuen er åben, Det aktive link bliver tydeligt når man hover */
header nav.show li a:hover { 
 /* color:rgb(14, 31, 1); farven du vil have ved hover */
 font-weight: bold;     /* gør teksten fed ved hover */ 
}

nav a:focus-visible {
  outline: 3px solid #90ee90;
}
 
/* --- MAIN INDHOLD --- */
main {
    flex: 1;   /* udfylder alt ledigt rum og skubber footeren ned */
    margin: 2em 2em;
}

main section p {

line-height: 1.7;
font-size: 1.2em;

}

.style_img {

        margin-top: 20px;
}

section {
    margin-bottom: 2em;
}

hr {
    border: none;
    height: 3px;
    background-color: #1032a4;
    margin: 2em 0;
    border-radius: 5px;
}

.bg-1 {
    background-color: #EDEFE5;
    padding: 2em;
}

.bg-1 li {
    font-size: 1.2em;
    color: #333;
    line-height: 1.7;
}


.bg-2 {
    background-color: #C0D7C9;
    padding: 2em;

}

.bg-2 li {
    font-size: 1.2em;
    color: #333;
    line-height: 1.7;
}

.bg-3 {
    background-color: #B0C0AE;
    padding: 2em;
    margin-bottom: 1em;
}

.bg-3 li {
    font-size: 1.2em;
    color: #333;
    line-height: 1.7;
}

/*Mental ro elementer*/
 video {
    width: 100%;   
    height: auto;  /* bevarer proportioner */
    max-width: 640px; /* valgfrit, så den ikke bliver for stor på desktop */
    border-radius: 8px; /* valgfrit, ser moderne ud */
}


/* Kontakt-knap */

.a{
    width: 100%;
    height: 100%;
    background-color: rgb(249, 233, 213);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
    color: #222222;
    margin-bottom: 1em;
}

.success-stories .story img {
    width: 200px;
    height: 250px;
    object-fit: cover; /* beskærer billedet uden at forvride det */
    border-radius: 10%;
    margin-bottom: 1em;
} 

.success-stories .story {
  display: flex;             
  align-items: center;       
  gap: 1em;                  /* afstand mellem billede og tekst */
  margin-bottom: 2em;        /* afstand mellem stories */
  background-color: #f5f5f5; 
  padding: 1em;
  border-radius: 8px;
}

.success-stories .story-text h3 {
  margin: 0 0 0.3em 0;
  font-size: 1.1em;
}

.success-stories .story-text p {
  margin: 0;
  line-height: 1.5;
}

section article {
  margin-bottom: 2em; 
  margin-top: 1.5em;
}


.kontakt_container{

    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #e8efe2;
    font-size: 14pt;
    color: #10370c;
    border-radius: 10px;
    margin-top: 10px;
}

.kontakt_container label{

    margin-left: 10px;
}


/* style tekst box i formular */
.txt_style{
 
    background-color: #e8efe2; 
    border: 2px solid  #10370c; 
    height: 35px;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 7px;
    margin-left: 10px;

   
}


/* besked box */
.ar_style {

    background-color:#e8efe2; 
    border: 2px solid  #10370c; 
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

   

}

fieldset {
    border: 2px solid #10370c;   /* ændrer farven */
    border-radius: 10px;         /* mere bløde hjørner */
    padding: 10px 15px;          /* lidt luft indeni */
    background-color: #e8efe2;   /* valgfrit: giver baggrund */
    margin-left: 10px;
    margin-right: 10px;
}

.style_button{

    background-color: #3851e3;
    align-content: center;
    color: white;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 4px;
    width:100%;
    margin-top: 1em;
    font-size: 18px;
    height: 55px;
    width: 60%;
    cursor: pointer;
    text-decoration: none; /* fjerner underline */
    text-align: center;
}

    .Button-container {
    display: flex;
    justify-content: center; /* centrerer vandret */
    margin-top: 0.5em; /* afstand fra elementer ovenfor */
    margin-bottom: 0.9em;
}


/* Centrerer knappen */
.button-container {
    display: flex;
    justify-content: center; /* centrerer vandret */
    margin-top: 1em;         /* afstand fra teksten */
}


.kontakt_container button:hover {

    color:#e8efe2;
    background-color: #10370c;


}

/* FOOTER */
footer {
    background-color: #10370c;
    color: white;
    text-align: center;
    padding: 2em 1em;
}

footer h3 {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

footer p,
footer li {
    margin-bottom: 0.4em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: orange;
}

/* --- DESKTOP  --- */
@media screen and (min-width: 769px) {
    #bars{ display: none; }

    header nav { display: block; }

    nav ul {
        display: flex;
        justify-content: space-around;
        gap: 2em;
    }

    .show {
        position: static;
        background: none;
        display: block;
    }

    /* Sektion 1 layout flex */
    main section:nth-of-type(1) {
        display: flex;
        gap: 2em;
    }

    main section p{

        line-height: 40px;
    }

    main section:nth-of-type(1) div {
    width: 50%;  
}

    main section:nth-of-type(1) img {
    width: 50%; /* fylder hele div’en */
    height: auto;
}

    main section:nth-child(3) { padding-bottom: 0; }
    
    /* Specifik margin for MentalRo */
    body.MentalRo main {
    margin: 1em 5em 2em 3em; /* top, højre, bund, venstre */
}

/* Fjern flex-layout på Mental Ro forsiden */
body.MentalRo main section:nth-of-type(1) {
    display: block !important;


}

/* Gør hele video-sektionen centreret på Mental Ro siden */
body.MentalRo section.video-section {
    text-align: center;
}

/* Centrer hvert article */
body.MentalRo section.video-section article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
Videoerne skal ikke blive for brede */
/* body.MentalRo section.video-section video { */
    /* max-width: 700px; */
    /* width: 100%; */
/* } */

.intro {
    text-align: center;
    max-width: 90%;
    margin: 0 auto; /* centrer sektionen på siden */
    padding: 1rem 0;
  }

  .intro h1 {
    margin-bottom: 1rem;
  }

  .intro p {
    margin-bottom: 0.8rem;
  }


.style_vd{
    height: 200px;
    width: 100%;
}

.kontakt_container {
        margin: 40px;   /* giver hvid luft højre og venstre */
        padding: 20px;
    }

    .txt_style,
    .ar_style,
    .style_buttom {
        width: 100%;
        margin-left: 0;
    }

    fieldset div {
        display: flex;
        align-items: center;
        gap: 8px;
    }


    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: left;
        padding: 3em 4em;
    }

    .footer-left,
    .footer-right { width: 45%; }


    

}
